- project uses poetry as venv and dependency manager

- assume we are in the project root and avoid using cd command

- project uses "just" as task runner (justfile)
    - use "just test" command to run all tests
    - use "just test-unit" command to run only unit tests

- staging and committing changes
    - when asked to commit changes, first fun diff command and then create a commit message that summarizes the changes
    - stage and commit with a one-liner command "git add . && git commit -m "<MSG>"

- after a code change, run unit tests to make sure you didn't break anything
    - run "just test-unit" command

- we are using constructor injection and factories for all dependencies
- we are using test doubles for most testing and mocking

- we are using yt-dlp for video downloading

- do not display suggested code changes in cascade chat, just make changes using one of your tools so that I can review them